body {
font-family: 'Times New Roman', Times, serif;
margin: 40px;
color:black;
border-top:black;
background:white;
 
}

h1  {
    font-size: 3em;
    margin: 0;

    

}
    
p {
line-height: 1.4em;
width: 200px;
}    
    
   #blog {
border-top: 1px dotted #ccc;

   } 
    
.blog-post {

    border-top: 1px dotted #ccc;
}



    
