body {
font-family: 'Times New Roman', Times, serif;
margin: 40px;
color:black;
border-top:black;
background:white;
 
}

h1  {
    font-size: 3em;
    margin: 0;

    

}
    

.img-container {
    background: blue;
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 10px;

}

.sticky, .position-demo {
    color: white;
    padding: 20px;
}

.sticky {
    background: blue;

}

.position-demo {
    background: green;
    position: static;
}

p {
line-height: 1.4em;
width: 200px;
}    
    
   #blog {
border-top: 1px dotted #ccc;

   } 
    
.blog-post {

    border-top: 1px dotted #ccc;
}



    
